Repository ARM-software/acle, pull requests merged in 2021-09, with the labels that each got.

#20 acle: Correct udot, sdot specification on AArch32
  neon_intrinsics/advsimd.rst
  neon_intrinsics/advsimd.template.rst
  tools/intrinsic_db/advsimd.csv
Labels: next release, NEON

#22 [bugfix] Fix FP16 format description in main ACLE specs.
  main/acle.rst
Labels: next release

#23 [github.io]Added release declaration and converted rst documents to md.
  README.md
  morello/README.md
  morello/morello.md
  morello/morello.rst
  mve_intrinsics/README.md
  mve_intrinsics/mve.md
  mve_intrinsics/mve.rst
  tools/check-rst-syntax.sh
  tools/generate-intrinsics-specs.sh
  tools/generate-pdfs.sh
Labels: github.io

#14 [main] Fix paragraph on lane intrinsics. NFCI.
  main/acle.rst
Labels: next release, main
